* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Segoe UI", Tahoma, Verdana, sans-serif;
}
div {
  box-sizing: border-box;
}
.wrapper {
  max-width: 1140px;
  margin-left: auto;
  margin-right: auto;
}
